build/
.DS_Store
*.~
bower_components
node_modules
src/font/*.otf
docs/jsdoc
.idea
D\357\200\272Workspacesdev2workareaeuclid-spacephotoshopTargetsx64DebugPlug-InsSpaceswww
"D\357\200\272Workspacesdev2workareaeuclid-spacephotoshopTargetsx64DebugPlug-InsSpaceswww"